.side-bar {
  background-color: #1B1464;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  /* width: 30%; */
  width: 18%;
  overflow: auto;
}

.side-bar .MuiTypography-root {
  font-size: 14px;
}

.wrap-content {
  position: absolute;
  width: 82%;
  top: 0;
  right: 0;
}

.wrap-content-body {
  padding: 16px;
}

.wrap-content-header {
  padding: 4px 4px 4px 16px;
  border: 1px solid #DDD;
  border-radius: 50px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.parent {
  width: 100%;
  margin: auto;
  padding: 1rem;
  background: #ffffff;
  border-radius: 15px;
  border: 1px solid #CCC;
}

.file-upload {
  text-align: center;
  border: 3px dashed rgb(210, 227, 244);
  border-radius: 15px;
  padding: 0.5rem;
  position: relative;
  cursor: pointer;
}

.file-upload p {
  font-size: 0.87rem;
  margin-top: 10px;
  color: #bbcada;
}

.file-upload input {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

.invoice-cover table tr td, .invoice-cover table tr th {
  padding: 10px;
}

.show-menu-bar-button {
  display: none !important;
}

.close-menu-bar-button {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .side-bar {
    width: 30%;
  }

  .wrap-content {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {

  .side-bar {
    display: none;
    width: 70%;
    z-index: 1;
  }

  .close-menu-bar-button {
    display: block;
    margin-top: 33px;
  }

  .show-menu-bar-button {
    display: block !important;
  }

  .wrap-content {
    width: 100%;
  }

  .wrap-content-header {
    left: 50px;
    position: relative;
    width: calc(100% - 50px);
  }
}